<!doctype html>
<html
  lang="en"
  data-th-replace="~{base::parent(~{::title},~{::#style},~{::#header},~{::#content},~{::#footer},~{::#src})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Login</title>

    <link id="style" rel="stylesheet" href="/css/styles-login.css" />
  </head>

  <body>
    <!-- Header -->
    <div id="header">
      <div data-th-replace="~{userLoggedOutHeader::userLoggedOutHeader}"></div>
    </div>

    <!-- Content -->

    <div id="content" class="flex-grow">
      <div
        class="min-h-[calc(100vh-160px)] flex items-center justify-center px-4"
      >
        <div class="w-full max-w-md">
          <!-- Login Card -->
          <div id="loginPage" class="auth-page">
            <h2 class="text-2xl font-semibold mb-2 text-center">
              Welcome Back!
            </h2>

            <p class="text-center text-white mb-6">
              Login to manage your expenses
            </p>
            
            <form
              method="post"
              data-th-action="@{'/authenticate'}"
              id="loginForm"
              class="space-y-4"
            >
              <div class="form-group">
                <label>Email</label>
                <input name="Username" type="email" id="loginEmail" required />
              </div>

              <div class="form-group">
                <label>Password</label>
                <input
                  name="password"
                  type="password"
                  id="loginPassword"
                  required
                />
              </div>

              <button type="submit" class="btn w-full">Login</button>
            </form>

            <!-- Google Login -->
            <div class="pt-4">
              <button
                class="login-with-google-btn w-full rounded-2xl"
                type="button"
              >
                <a data-th-href="@{'/oauth2/authorization/google'}">
                  Sign in with Google
                </a>
              </button>
            </div>

            <!-- Signup -->
            <div class="mt-4 text-center">
              <p>
                Don't have an account?
                <a data-th-href="@{'/signUp'}" class="text-blue-500 underline">
                  Sign Up
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer">
      <div data-th-replace="~{userLoggedOutFooter::userLoggedOutFooter}"></div>
    </div>

    <script id="src" src="script.js"></script>
  </body>
</html>
